appdirs==1.4.4
astroid==2.4.2
certifi==2023.7.22
chardet==3.0.4
cssselect==1.1.0
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
lxml>=4.6.2
mccabe==0.6.1
pyee==7.0.2
pylint==2.5.3
pyppeteer==0.2.2
pyquery==1.4.1
requests==2.31.0
six==1.15.0
toml==0.10.1
tqdm==4.48.0
urllib3==1.26.18
websockets==9.1
wrapt==1.12.1
